# Getting started

This is a very quick tutorial made for you in order to make the use of this simple tool easy.

Load the data

In [2]:
import pandas as pd
import seaborn as sns # We'll load a dataset from it

df = sns.load_dataset('iris')
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Import `ColorPandas`, in order to make it accessible from all your dataframes.

In [3]:
from color_pandas.colorizer import ColorPandas

### Highlighting a single cell

When you just want to highlight some cells, you just want to indicate which ones and don't think about the rest.

The syntax is:  
`df.colorizer.highlight_at(COLUMN_NAME, CELL_ID)`

In [4]:
df[:5].colorizer.highlight_at('sepal_length', 4)

#### What's in the result

Keep in mind that ColorPandas rests on [`Pandas Style API`](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html), so as a result it will always return a [Styler](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.html?highlight=styler#pandas.io.formats.style.Styler) object. You can still retrieve the original data using the .data attribute, as shown below.

In [5]:
styled_df = df[:5].colorizer.highlight_at('sepal_length', 4)

print(type(styled_df))
styled_df

<class 'pandas.io.formats.style.Styler'>

In [6]:
print(type(styled_df.data))
styled_df.data

<class 'pandas.core.frame.DataFrame'>

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Conditionally Highlighting

When you need to highlight cells that meet a specific condition, this function is useful

The syntax is:  
`df.colorizer.highlight_if(COLUMN_NAME, BOOLEAN_FUNCTION)`

In [7]:
df[:5].colorizer.highlight_if('sepal_length', lambda x: x>4.7)

sepal_length Int64Index([0, 1, 4], dtype='int64')

## More Styling
If you want to spend a little more time specifying precisely the appearance of a cell or a group of cells, the following functions are for you

### Styling a single cell

In this case we will provide a string of [CSS](https://en.wikipedia.org/wiki/CSS), in which we specify the style parameters that we want to apply to the cell.

The syntax is:  
`df.colorizer.style_at(COLUMN_NAME, ID, CSS_STRING)`

In [8]:
css = 'background-color: rgb(1, 203, 20); color: black'
df[:5].colorizer.style_at('sepal_length', 4, css)

### <div id='style_if'>Conditionally styling a single or a group of cells</div>

In this case we will provide a string of [CSS](https://en.wikipedia.org/wiki/CSS), in which we specify the style parameters that we want to apply to the cells, along with a condition to select them.

The syntax is:  
`df.colorizer.style_if(COLUMN_NAME, BOOLEAN_FUNCTION, CSS_STRING)`

In [9]:
css = 'background-color: red; color: black'
df[:5].colorizer.style_if('sepal_length', lambda x: x>4.7, css)

sepal_length Int64Index([0, 1, 4], dtype='int64')

That's all for now. Have fun coloring your dataframes quickly with ColorPandas and let us know what you think!